@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>vexed</h1>
        <h2>CRUDs</h2>
        @Html.ActionLink("Clientes", "Index", "Clientes")
        <br>
        @Html.ActionLink("Produtos", "Index", "Produtos")
        <br>
        @Html.ActionLink("Pedidos", "Index", "Pedidos")
        <br>
        @Html.ActionLink("Fabricantes", "Index", "Fabricantes")
        <br>
        @Html.ActionLink("Tipos de Entregas", "Index", "TipoEntregas")
        <br>
        @Html.ActionLink("Grupos", "Index", "Grupoes")
        <br>
        @Html.ActionLink("Cupons de Desconto", "Index", "CupomDescontoes")
    </div>
</body>
</html>
