@model IEnumerable<vexed.Models.ItemPedido>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pedido.EnvioRastreio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoItemPedido)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.EnvioRastreio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoItemPedido)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdItemPedido }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdItemPedido }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdItemPedido })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
